 <tbody th:fragment="friend" class="u-align-center u-table-body u-white u-table-body-1">
    <tr th:each="friend, it : ${modelList}">
        <td th:text="${it.count}"       class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${friend.id}"      class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${friend.peer1}"   class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${friend.peer2}"   class="u-border-1 u-border-grey-30 u-table-cell"></td>

        <td class="u-border-1 u-border-grey-30 u-table-cell"><span data-bs-toggle="modal" data-bs-target="#update-entry-modal" class="u-file-icon u-icon u-icon-1"><img data-type="friendIdUpdate" src="/images/update-image.png" class="scaled" alt=""></span></td>
        <td data-bs-toggle="modal" data-bs-target="#delete-entry-modal" class="u-border-1 u-border-grey-30 u-table-cell"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-2"><img data-type="friendIdDelete" src="/images/delete-image.png" class="scaled" alt=""></span></td>
    </tr>
</tbody>

<div th:fragment="friend-new">
    <label for="friendPeer1" class="form-select-sm prop-label">Peer1
        <select id="friendPeer1" name="peer1" class="form-select peer-select" aria-label=".form-select-sm"></select>
    </label>
    <label for="friendPeer2" class="form-select-sm prop-label">Peer2
        <select id="friendPeer2" name="peer2" class="form-select peer-select" aria-label=".form-select-sm"></select>
    </label>
</div>

 <div th:fragment="friend-update">
     <label for="friendIdUpdate" class="form-select-sm prop-label">ID
         <input type="number" name="id" id="friendIdUpdate" class="form-control" required readonly>
     </label>
     <div th:replace="~{'tables/' + friend :: friend-new } ?: _"></div>
 </div>

 <div th:fragment="friend-delete">
     <label for="friendIdDelete" class="form-select-sm prop-label">ID
         <input type="number" name="id" id="friendIdDelete" class="form-control" required readonly>
     </label>
 </div>