 <tbody th:fragment="verter" class="u-align-center u-table-body u-white u-table-body-1">
    <tr th:each="verter, it : ${modelList}">
        <td th:text="${it.count}"       class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${verter.id}"      class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${verter.check}"   class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${verter.state}"   class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${verter.time}"    class="u-border-1 u-border-grey-30 u-table-cell"></td>

        <td class="u-border-1 u-border-grey-30 u-table-cell"><span data-bs-toggle="modal" data-bs-target="#update-entry-modal" class="u-file-icon u-icon u-icon-1"><img data-type="verterIdUpdate" src="/images/update-image.png" class="scaled" alt=""></span></td>
        <td class="u-border-1 u-border-grey-30 u-table-cell"><span data-bs-toggle="modal" data-bs-target="#delete-entry-modal" class="u-file-icon u-icon u-text-palette-2-base u-icon-2"><img data-type="verterIdDelete" src="/images/delete-image.png" class="scaled" alt=""></span></td>
    </tr>
</tbody>

 <div th:fragment="verter-new">
     <label for="verterCheck" class="form-select-sm prop-label">Check ID
        <select id="verterCheck" name="check" class="form-select check-select" aria-label=".form-select-sm"></select>
     </label>
     <label for="verterState" class="form-select-sm prop-label">State
         <select id="verterState" name="state" class="form-select mb-3" aria-label=".form-select-sm">
             <option value="Start">Start</option>
             <option value="Success">Success</option>
             <option value="Failure">Failure</option>
         </select>
     </label>
     <div class="form-floating">
         <input type="time" name="time" class="form-control" id="verterTime" placeholder="Time" step="2" required>
         <label for="verterTime">Time</label>
     </div>
 </div>

 <div th:fragment="verter-update">
     <label for="verterIdUpdate" class="form-select-sm prop-label">ID
         <input type="number" name="id" id="verterIdUpdate" class="form-control" required readonly>
     </label>
     <div th:replace="~{'tables/' + verter :: verter-new } ?: _"></div>
 </div>

 <div th:fragment="verter-delete">
     <label for="verterIdDelete" class="form-select-sm prop-label">ID
         <input type="number" id="verterIdDelete" name="id" class="form-control" readonly>
     </label>
 </div>
