 <tbody th:fragment="xp" class="u-align-center u-table-body u-white u-table-body-1">
    <tr th:each="xp, it : ${modelList}">
        <td th:text="${it.count}"    class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${xp.id}"       class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${xp.check}"    class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${xp.xpAmount}" class="u-border-1 u-border-grey-30 u-table-cell"></td>

        <td class="u-border-1 u-border-grey-30 u-table-cell"><span data-bs-toggle="modal" data-bs-target="#update-entry-modal" class="u-file-icon u-icon u-icon-1"><img data-type="xpIdUpdate" src="/images/update-image.png" class="scaled" alt=""></span></td>
        <td class="u-border-1 u-border-grey-30 u-table-cell"><span data-bs-toggle="modal" data-bs-target="#delete-entry-modal" class="u-file-icon u-icon u-text-palette-2-base u-icon-2"><img data-type="xpIdDelete" src="/images/delete-image.png" class="scaled" alt=""></span></td>
    </tr>
</tbody>

 <div th:fragment="xp-new">
     <label for="xpCheck" class="form-select-sm prop-label">Check ID
        <select id="xpCheck" name="check" class="form-select mb-3 check-select" aria-label=".form-select-sm"></select>
     </label>
     <div class="form-floating">
         <input type="number" name="xpAmount" class="form-control" id="XPxpAmount" placeholder="XP Amount" required>
         <label for="XPxpAmount">XP Amount</label>
     </div>
 </div>

 <div th:fragment="xp-update">
     <label for="xpIdUpdate" class="form-select-sm prop-label">ID
         <input type="number" name="id" id="xpIdUpdate" class="form-control" readonly>
     </label>
     <div th:replace="~{'tables/' + xp :: xp-new } ?: _"></div>
 </div>

 <div th:fragment="xp-delete">
     <label for="xpIdDelete" class="form-select-sm prop-label">ID
         <input type="number" id="xpIdDelete" name="id" class="form-control" readonly>
     </label>
 </div>
