.alert-label {
  position: absolute;
  display: block;
  width: 100%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.7s;
}


.u-section-1 {
  background-image: linear-gradient(to right, #0bd295, #2cccc4);
}

.u-section-1 .u-sheet-1 {
  min-height: 1324px;
}

.u-section-1 .u-group-1 {
  min-height: 68px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 814px;
  min-height: 66px;
  height: auto;
  margin: -68px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 3px) calc(25% - 3px) calc(25% - 3px) calc(25% - 3px);
  grid-gap: 4px 4px;
  min-height: 66px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 0.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
}

.u-section-1 .u-icon-1 {
  margin-right: 0;
  color: rgb(0, 0, 0) !important;
  padding: 2px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 0.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 0.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 0.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 102px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-icon-2 {
  font-size: 1.25em;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5626em;
}

.u-block-e496-51 {
  height: 69px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-icon-2 {
    font-size: 1.25em;
  }

  .u-section-1 .u-icon-3 {
    font-size: 1.25em;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 273px;
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 324px;
    min-height: 273px;
    margin-top: -273px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 273px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 227px;
    width: 220px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 220px;
    min-height: 227px;
    margin-top: -227px;
  }

  .u-section-1 .u-list-1 {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 227px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -4px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -4px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 247px;
    width: 212px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 186px;
    min-height: 247px;
    margin-top: -247px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 247px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    padding: 10px 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    padding: 10px 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    padding: 10px 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    padding: 10px 30px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 12px;
  }
}

.u-block-e496-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-e496-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e496-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-e496-71:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-e496-71:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]).u-block-e496-72:not([data-block-selected]):not([data-cell-selected]).u-block-e496-72:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]).u-block-e496-72:not([data-block-selected]):not([data-cell-selected]).u-block-e496-72:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-e496-72:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-e496-72:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-e496-72:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-icon-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]),
.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]).u-block-e496-76:not([data-block-selected]):not([data-cell-selected]).u-block-e496-76:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #ffffff !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]).u-block-e496-76:not([data-block-selected]):not([data-cell-selected]).u-block-e496-76:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #ffffff !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-e496-76:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-e496-76:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-e496-76:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.modal-open {
    padding-right: 0px !important;
}

.scaled {
    transition: transform 0.5s;
}

.scaled:hover {
    transform: scale(1.8);
}

.prop-label {
    color: grey;
    text-align: left;
    width: 100%;
    padding-left: 0px;
    font-size: 15px;
}

  .u-dialog-section-9 .u-dialog-1 {
      width: 469px;
      min-height: 242px;
      height: auto;
      margin: 389px auto 60px;
  }

  .u-dialog-section-9 .u-form-group-1 {
      width: 100%;
  }

  @media (max-width: 1199px) {
      .u-dialog-section-9 .u-dialog-1 {
          width: 469px;
      }
  }

  @media (max-width: 575px) {
      .u-dialog-section-9 .u-dialog-1 {
          width: 340px;
          min-height: 190px;
      }
  }