 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 364px;
  left: 180px;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 790px;
  margin: 100px 350px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 413px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: 350px;
  margin: -572px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  min-height: 572px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 51px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 275px;
    left: 133px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-right: 150px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: -591px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-shape-1 {
    width: 302px;
    height: 684px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 133px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -622px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    height: 373px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 710px;
    height: auto;
    margin: 62px auto 60px 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-1 .u-shape-1 {
    height: 575px;
    margin-right: 105px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -513px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    height: 294px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 105px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-shape-1 {
    width: 157px;
    height: 430px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -368px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-image-1 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 52px;
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}